/Client$1.class
/Client.class
/search_GUI.class
/test.class
/test$1.class
/test$1$1.class
/test$2$1.class
/test$2.class
/test$3$1.class
/test$3.class
/TestCapitalClient.class
/TestCapitalClient$1.class
/CapitalizeServer.class
/CapitalizeServer$Capitalizer.class
/test$4$1.class
/test$4.class
